<h2><%= @project.name %></h2>
<ul>
<% @entries.each do |entry| %>
	<li>
		<strong>Length:</strong> <%= entry.hours %> h <%= entry.minutes %> m, 
		<strong>Info:</strong> <%= entry.comment %>,
		<strong>On:</strong> <%= entry.date %>
	</li>
<% end %>
</ul>